@use '../util' as u;

.blog {
  display: grid;
  gap: u.rem(30);
  margin-block-end: u.rem(80);

  @media (width >= u.em(1110)) {
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-column: 1 / -1;
    margin-block-end: unset;
    padding-block-start: u.rem(40);
  }

  &__post {
    display: grid;
    grid-template-columns: u.rem(100) auto;
    grid-template-rows: repeat(3, auto);
    gap: u.rem(10) u.rem(24);
  }

  &__image {
    grid-row: 1 / 4;
  }

  &__number {
    font-size: var(--f-m);
    color: var(--c-vermillion);
    font-weight: 700;
    line-height: 1;
  }

  &__headline {
    align-self: center;

    a {
      color: var(--c-darkblue);
      font-size: var(--f-xs);
      font-weight: 800;
      line-height: 1.1;

      &:hover {
        color: var(--c-vermillion);
      }
    }
  }

  &__description {
    align-self: end;
  }
}
