@use '../util' as u;

.nav {
  &__content {
    @media (width <= u.em(960)) {
      background-color: var(--c-offwhite);
      position: fixed;
      inset: 0 0 0 32%;
      transform: translateX(110%);
      padding: u.rem(144) u.rem(24);
      transition: transform 0.4s ease-in-out;
      z-index: 1000;

      &--close {
        position: absolute;
        top: u.rem(27);
        right: u.rem(20);
      }
    }
  }

  &__open {
    transform: translateX(0);
  }

  button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

    @media (width >= u.em(960)) {
      display: none;
    }
  }
}

.no-scroll {
  overflow-y: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 26, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  z-index: 900;
}

.overlay.visible {
  opacity: 1;
  visibility: visible;
}
